@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-text: var(--color-text);
  --color-faded-text: var(--color-faded-text);
  --color-border: var(--color-border);
  --color-hover: var(--color-hover);
}

html {
  font-family: "Noto Sans JP", serif;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #FFFFFF;
  --color-secondary: #D3D3D3;
  --color-text: #0B090A;
  --color-faded-text: #D3D3D3;
  --color-border: #D0D0D0;
  --color-hover: #E5383B;
}

.dark {
  --color-primary: #0B090A;
  --color-secondary: #252525;
  --color-text: #FFFFFF;
  --color-faded-text: #D3D3D3;
  --color-border: #D0D0D0;
  --color-hover: #E5383B;
}

.svg-mask {
  filter: invert(1);
  transition: filter 0.1s ease-in-out;
}

.dark .svg-mask {
  filter: invert(0);
}

